*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
 padding: 20px;
}

header span {
  vertical-align: middle;
  line-height: 70px;
  font-size: 2rem;
}

/* non funziona allineamento immagine al testo */
.conteiner img {
  vertical-align: middle;
  margin: 0 auto;
  height: 70px;
}

main{
  background-color: rgb(206, 206, 197);
  padding: 50px 0 20px;
}

.box {
  width: 60%;
  margin: 0 auto;
}

.box-top{
  background-color:white; 
  border-radius: 3px;
  padding: 20px 120px;
  border-bottom: 2px solid rgb(206, 206, 197);
}

.box-bottom{
  background-color:white;
  border-radius: 3px; 
  
}

.box-top .button {
  height: 25px;
  width: auto;
  padding: 5px 8px;
  border-radius: 5px;
}

#addtask {
  background-color: rgb(55, 55, 240);
  color: white;
  border: rgb(55, 55, 240) ;
}

#addsection {
  background-color: white;
  color: gray;
}

section h3 {
  font-size: 2 em;
}

main ul {
  list-style: none;
  padding: 5px;
}

main ul li{
  padding: 5px;
}

.green ::before{
  content: "\2713";
  color: green;
}

